# API Config
API_PORT=8080
API_DEBUG=True
API_SECRET_KEY=8d1f3e4d46d04f5fac089a8f980f1951

# UI Config
UI_PORT=3000

# Redis Config
REDIS_HOST=redis
REDIS_PASSWORD=12c3487bb85447ed99ea8689affd6d55
REDIS_PORT=6379

# Database Config
MONGO_INITDB_ROOT_USERNAME=autolycus
MONGO_INITDB_ROOT_PASSWORD=1a7b8145ea854796851096ff8b05c84f
MONGO_DATABASE_NAME=autolycus
MONGO_DATABASE_URI=mongodb://${MONGO_INITDB_ROOT_USERNAME}:${MONGO_INITDB_ROOT_PASSWORD}@mongodb:27017/${MONGODB_DATABASE}